<div class="container-fluid">
  <div class="card" *ngFor="let post of post1">

    <div class="card-block">
      <h3 class="card-title">หัวข้อ : {{post.topic}}</h3>
      <!-- {{topic.name }} -->
      <p class="card-text">รายละเอียด : {{post.content}}</p>
      <!-- {{topic.content }} -->
      <small>โพสโดย : {{post.username}}</small><br>
      <small>ประเภทกีฬา : {{post.category}}</small>
      <!-- {{user.userName }} -->
      <!-- {{post.date }} -->
      <!-- {{post.time }} -->
    </div>

  </div>

  <div class="card" *ngFor="let reply of reply2" >
    <!-- *ngFor="let reply of reply1" -->

    <div class="card-block">
      <p class="card-text">ตอบกลับ : {{ reply.replie }} </p>
      <!-- {{comment.content }} -->
      <small>ตอบกลับโดย : {{ reply.username }}</small>
      <button *ngIf="admin()" (click)="del(reply._id)">del</button>
      <!-- {{user.userName }} -->
      <!-- {{comment.date }} -->
      <!-- {{comment.time }} -->
    </div>

  </div>
  
  <div class="form-group">
    <label for="comment">แสดงความคิดเห็น</label>
    <textarea class="form-control" #replie (change)="reply1.replie=replie.value" rows="5" id="comment"></textarea>
    <!-- [(ngModel)]="comment.content" -->
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary" (click)="comment()" routerLink="../topic">ส่งข้อความ</button>
  </div>
</div>