  <div class="container-fluid">
      <h2>กระทู้ล่าสุด</h2>
          <div class="card" (click)="topic(post.topic)" routerLink="/topic" *ngFor="let post of post1">
            <!-- *ngFor="let post of post" -->
            <div class="card-block">
              <h3 class="card-title">หัวข้อ : {{post.topic }}</h3>
              <p class="card-text">โพสโดย : {{ post.username }}</p>
              <p class="card-text">ประเภทกีฬา : {{ post.category }}</p>
              <!-- {{user.userName }} -->
              <!-- {{psot.date }} -->
              <!-- {{post.time }} -->
            </div>
          </div>
    </div>
