<div class="container-fluid">
    <h1>
        เข้าสู่ระบบ
    </h1>
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="usr">ชื่อผู้ใช้:</label>
                <input type="text" [(ngModel)]="user.userName" class="form-control" id="usr" name="usr">
            </div>
            <div class="form-group col-md-6">
                <label for="pwd">รหัสผ่าน:</label>
                <input type="password" [(ngModel)]="user.password" class="form-control" id="pwd" name ="pwd">
            </div>
        </div>
        <button type="button" class="btn btn-default" (click)="login()" routerLink="../">เข้าสู่ระบบ</button>
        <a routerLink="../register">ยังไม่ได้เป็นสมาชิก</a>
    </form>
</div>