<h1>
  <div class="form-group">
    <label for="usr">หัวข้อกระทู้</label>
    <input type="text" [(ngModel)]="post1.topic" class="form-control" id="topic">
  </div>
  <div class="container">
  <select class="form-control" [(ngModel)]="post1.category">
    <option>ฟุตบอล</option>
    <option>บาสเกตบอล</option>
    <option>เทเบิลเทนนิส</option>
    <option>ว่ายน้ำ</option>
    <option>กอล์ฟ</option>
    <option>วอลเลย์บอล</option>
    <option>แบดมินตัน</option>
  </select>
  </div>
  <div class="form-group">
    <label for="comment">เขียนรายละเอียดของกระทู้</label>
    <textarea [(ngModel)]="post1.content" class="form-control" rows="5" id="content"></textarea>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary" (click)="post()">ตั้งกระทู้</button>
  </div>
</h1>