<h1>
  <div class="form-group">
    <label for="usr">หัวข้อกระทู้</label>
    <input type="text" [(ngModel)]="post1.topic" class="form-control" id="topic" name = "topic">
  </div>
  <div class="container">
  <select class="form-control" [(ngModel)]="post1.category">
    <option class="placeholder" selected disabled value="a">เลือกประเภทกีฬา</option>
    <option value = "soccer">ฟุตบอล</option>
    <option value = "basketball">บาสเกตบอล</option>
    <option value = "tabletennis">เทเบิลเทนนิส</option>
    <option value = "swim">ว่ายน้ำ</option>
    <option value = "golf">กอล์ฟ</option>
    <option value = "volleyball">วอลเลย์บอล</option>
    <option value = "badminton">แบดมินตัน</option>
  </select>
  </div>
  <div class="form-group">
    <label for="comment">เขียนรายละเอียดของกระทู้</label>
    <textarea #content (change)="post1.content=content.value" class="form-control" rows="5" id="content"></textarea>   
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-primary" (click)="post()" routerLink="../topic">ตั้งกระทู้</button>
  </div>
</h1>